@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    font-family: "Raleway";
}
.carousel .carousel-item {
    transition-duration: 1.5s;
}
.bg-scroll{ 
    background:transparent !important;
}
.bg-scroll.scrolled{
    background: purple !important;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s
}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}
.navbar-collapse{
    justify-content: flex-end;
   }
.bg-dark{
    background-color:#343a40!important
}
.bg-primary{
    background-color:#007bff!important
    }
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}
/*----- carousel slidder ----*/
.carousel slide{
    height: 500px;
    width: 100vh;
    color:white;
    text-align: center;
}
.carousel-caption {
    position: absolute;
    top: 20%;
    margin: auto;
    padding: 2em;
}
.carousel-caption h5{
    color:#F97300 ;
    font-size: 70px;
    line-height: 1.5;
}
.carousel-caption p{
    color:white;
    font-size: 30px;
    width: 50%;
    line-height: 1.5;
   }
.carousel-caption a{
       padding: 10px 40px;
       margin-right: 10px;
     
}
.carousel-caption a.btn-orange{
    background-color: #F97300;
    color:white;
    transition: 0.5s ease-in;
}
.carousel-caption a.btn-orange:hover{
    opacity:0.9;
    background-color: darkblue;
}
.carousel-caption a.btn-blue{
    background-color: deepskyblue;
    color:white;
    transition: 0.5s ease-in;
}
.carousel-caption a.btn-blue:hover{
    opacity:0.9;
    background-color: darkblue;
}
.img2{
    background-image:linear-gradient(rgba(0,0,0,0.7),(0,0,0,0.7)),url(assets/Images/microloans.jpg);
    background-size: 100% 100%;
}
.carousel-caption i{
    font-size: 80px;
    margin-right: 20px;
}



/* ---about us section ----*/
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    
}
.description h1{
 color:#F97300 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
}
.about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
   }
   .about h1{
    color:#F97300;
    margin: 2em;
   }
   .about img{
    height: 100%;
       width: 100%;
       border-radius: 50%
   }
   .about span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
   }
   .about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
   }
   .about .desc h3{
    color: #10828C;
   }
   .about .desc p{
    line-height:2;
    color:#888;
   }
   .portfolio{
    margin: 4em 0;
       position: relative; 
   }
   .portfolio h1{
    color:#F97300;
    margin: 2em; 
   }
   .portfolio img{
     height: 15rem;
     width: 100%;
     margin: 1em;
     
   }
   .blog{
    margin: 4em 0;
    position: relative; 
   }
   .blog h1{
    color:#F97300;
    margin: 2em; 
   }
   .blog .card{
    box-shadow: 0 0 20px #ccc;
   }
   .blog .card img{
    width: 100%;
    height: 12em;
   }
   .blog .card-title{
    color:#F97300;
     
   }
   .blog .card-body{
    padding: 1em;
   }
   .team{
    margin: 4em 0;
    position: relative;  
   }
   .team h1{
    color:#F97300;
    margin: 2em; 
   }
   .team .item{
    position: relative;
   }
   .team .des{
    background: #F97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition:.3s ease-in-out;
    
   }
   .team .item:hover .des{
    height: 100%;
    background:#f973007d;
    position: absolute;
    width: 89%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
   }
   .sub-heading{
       position: relative;
       margin-bottom:75px;
   }
   .sub-heading:before{
       content:"";
       position: absolute;
       top: 100%;
       left: 50%;
       margin-left: -3%;
       width: 6%;
       height:1 px;
       background-color: deepskyblue;
       z-index: 1;
       transition: 0.3s ease;
       -webkit-transition: 0.3s ease;
   }
   .sub-heading:hover:before{
    width: 24%;
    margin-left: 12px;
}
.sub-heading:after{
    content:"";
       position: absolute;
       top: 100%;
       left: 50%;
       margin-left: -13%;
       width: 24%;
       height:1 px;
       background-color: #e1e1e1;
       z-index: 1;
       transition: 0.3s ease;
       -webkit-transition: 0.3s ease;
}
.sub-heading p{
    color: #818181;
    display: flex;
    padding: 0px 0px 26px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}
/*-----------services ----------*/
.page-section{
    margin-top: 100px;
}
.intro-block{
    position: relative;
    background: #f7f7f7;
    margin: 50px 0px 50px;
    padding: 70px 25px 40px;
}
.intro-block:hover, .intro-block:active{
    background:purple;
}
.intro-block:hover{
    transition: .6s ease;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -o-transition: .6s ease;
    -ms-transition: .6s ease;
}
.intro-block .intro-icon{
    position: absolute;
    top: -31px;
    left: 50px;
    margin-left: 30px;
}
.intro-block .fa{
    width:63px;
    height: 63px;
    font-size: 30px;
    color:white;
    line-height: 2;
    background: purple;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #cceef9;
}
.intro-block:hover .fa, .intro-block.active .fa{
    background:white;
    color: purple;
    box-shadow: 0px 0px 10px purple;
}
.intro-block h3{
    font-size: 18px;
    color: purple;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.intro-block p{
    color: #505050;
}
.intro-block:hover h3, .intro-block:hover p{
    color: #f6f6f6;
}

/*--------why do we exit section--------*/
.feature-area{
    margin-top:100px;
    padding: 100px 0px;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/assets/image/blacks.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
.title h2, p{
    color:white;
}
.title .sub-heading p{
    color: #f3f3f3;
    border-color: deepskyblue;
}
.single-feature h3{
    color:#f3f3f3;
}
.single-feature {
    position:relative;
    width:325px;
    float: left;
    padding:30px;
    text-align:center;
    border-right: 1px solid purple;
    border-bottom: 1px solid purple;
    transition: .6s ease-in;
    -webkit-transition: .6s ease-in;
    -moz-transition: .6s ease-in;
    -o-transition: .6s ease-in;
    -ms-transition: .6s ease-in;
}
.feature-block:after{
    content:'';
    display:table;
}
.feature-block:after{
    clear: both;
}
.feature-icon {
    display: inline-block;
    margin-bottom: 20px;
}
.single-feature i.fa{
    border: 2px solid;
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
    background: purple;
    color: white;
    height:50px;
    width: 50px;
    transition: .3s ease;
}
.feature-block:hover .single-feature{
    border-color:white;
    transition: .3s ease;
}
.single-feature:hover .feature-icon .fa{
    border: 2px solid plum;
    background: white;
    color: purple;
}
.single-feature:nth-of-type(even){
    border-right: none;
}
.single-feature:nth-last-child(2){
    border-bottom: none;
}
.single-feature:last-child{
    border-bottom: none;
}
.feature-mockup{
    position: relative;
}
.feature-area .sub-heading p{
    color:white;
}.mock-image{
    height: 600px;
    width: 400px;
}

/*---------more feature section --------------*/
.more-feature{
    padding: 100px 0px;
}
.more-feature .title h2{
    color: black;
}
.more-feature .sub-heading p{
    color: grey;
}
.feature-list ul{
    list-style: none;
    padding-left: 100px;
}
.feature-list li{
    position: relative;
    margin-bottom: 30px;
    padding-left: 80px;
}
.feature-list li:hover i{
    color:white;
    background-color:plum;
    transition: 0.5s ease;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}
.more-feature-icon{
    position: absolute;
    left:0
}
.more-feature-icon i{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background: white;
    color: plum;
    border-radius: 50%;
    border: 2px solid plum;
    line-height: 50px;
}
.feature-details h3{
    color: purple;
    text-transform: capitalize;
    font-weight: 500;
}
.feature-details p{
    color: #616161;
    font-weight: 200
}